In [101]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [102]:
df = pd.read_csv('/content/amazon.csv')

In [103]:
df['Discounted_Price'] = df['Discounted_Price'].str.strip('₹')

In [104]:
df['Discounted_Price'] = df['Discounted_Price'].str.strip(',')

In [105]:
df['Discounted_Price'] = pd.to_numeric(df['Discounted_Price'],errors='coerce')

In [106]:
df

,Product_name,Stars,Discount,Reviews Count,Discounted_Price,Original_Price
0,Sorgen Free Size Compression Socks,NaN,(24% off),NaN,840.0,"₹1,100"
1,Analog Black Dial Unisex-Adult Watch-38024PP25,4.2 out of 5 stars,NaN,"4,868",850.0,NaN
2,Men's Jewellery 3D Cuboid Vertical Bar/Stick S...,3.7 out of 5 stars,(85% off),74,149.0,₹999
3,Brown Leather Men's Leather Wallet(WH2052 Crac...,4.0 out of 5 stars,(83% off),"29,362",255.0,"₹1,499"
4,Tan Crunch Leather Wallet for Men,4.0 out of 5 stars,(80% off),"28,489",299.0,"₹1,499"
...,...,...,...,...,...,...
2207,Elegant Analogue Round Studded Dial with Stain...,3.9 out of 5 stars,(80% off),222,298.0,"₹1,499"
2208,PACK OF 2 Tony Stark Sunglasses Vintage Square...,4.0 out of 5 stars,(75% off),134,499.0,"₹1,999"
2209,"No. 006 Men's Sports, Walking, Gym, Training, ...",3.1 out of 5 stars,(73% off),113,549.0,"₹1,999"
2210,Kpop BTS Band Exquisite Signature Jimin Silico...,4.5 out of 5 stars,(82% off),455,180.0,₹995
2211,Unisex Blue Handcrafted Compact Pocket Wallet,NaN,(27% off),NaN,399.0,₹549

In [107]:
df.describe()

       Discounted_Price
count       2201.000000
mean         454.672994
std          226.998872
min           37.000000
25%          278.000000
50%          399.000000
75%          599.000000
max          999.000000

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2212 entries, 0 to 2211
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_name      2212 non-null   object
 1   Stars             2159 non-null   object
 2   Discount          2064 non-null   object
 3   Reviews Count     2159 non-null   object
 4   Discounted_Price  2201 non-null   float64
 5   Original_Price    2069 non-null   object
dtypes: float64(1), object(5)
memory usage: 103.8+ KB

In [109]:
print(df.columns)

Index(['Product_name', 'Stars', 'Discount', 'Reviews Count',
       'Discounted_Price', 'Original_Price'],
      dtype='object')

# Z test

H0 : mu = 404

H1 : mu != 404

In [110]:
sample = df[41:241]

In [111]:
sample

,Product_name,Stars,Discount,Reviews Count,Discounted_Price,Original_Price
41,Denial Navy Leather Wallet for Men | Wallets M...,4.3 out of 5 stars,(80% off),"9,016",499.0,"₹2,499"
42,"Men's Cotton Sports Ankle Socks, Pack of 5 Pai...",4.0 out of 5 stars,(67% off),"10,646",329.0,₹999
43,Men's OXYFIT (N) Walking Shoe,4.1 out of 5 stars,(23% off),"31,470",769.0,₹999
44,Men's Double Coated Popular Latest Style Stain...,4.7 out of 5 stars,(84% off),9,159.0,₹999
45,"Plain Encounter Stockings (L, Black) - Polyest...",4.1 out of 5 stars,(23% off),"2,478",112.0,₹145
...,...,...,...,...,...,...
236,Black Base Metal Leather Funky Multistrand Gui...,3.7 out of 5 stars,(80% off),498,200.0,₹999
237,Men Briefs,4.0 out of 5 stars,(30% off),"14,135",289.0,₹410
238,"Men's Synthetic Sports,Running,Casual Loafer S...",3.9 out of 5 stars,(25% off),"13,465",524.0,₹699
239,Analog White Dial Men's Watch -NJ7987YL02W,4.2 out of 5 stars,NaN,"5,438",699.0,NaN
240,Steve Green RFID Blocking Leather Wallet for M...,4.1 out of 5 stars,(80% off),595,499.0,"₹2,499"

In [112]:
len(sample)

200

In [113]:
xbar = sample['Discounted_Price'].mean() 
mu = population['Discounted_Price'].mean()  
sigma = population['Discounted_Price'].std()    
n = len(sample)     
alpha = 0.05

In [114]:
xbar

428.69191919191917

In [115]:
mu

451.36646464646464

In [116]:
sigma

226.51988908699843

In [117]:
z_crit = abs(st.norm.ppf(alpha/2))
z_crit

1.9599639845400545

In [118]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

-1.415621817214811

In [119]:
if(abs(z) > z_crit):
    print('Null hypothesis can be rejected')
else:
    print('Null hypothesis cannot be rejected')

Null hypothesis cannot be rejected due to insufficient evidence

In [120]:
print(xbar,mu,sigma,n)

428.69191919191917 451.36646464646464 226.51988908699843 200

# T Test

H0 : mu = 404

H1 : mu != 404

In [121]:
t_crit = st.t.ppf(0.05,n-1)

In [122]:
t = (xbar-mu)/sigma/np.sqrt(sample['Discounted_Price'].std())
t

-0.0067990348336327815

In [123]:
if(abs(t) < abs(t_crit)):
    print('Null hypothesis cannot be rejected')
else:
    print('Null hypothesis can be rejected')

Null hypothesis cannot be rejected

In [124]:
print(population['Discounted_Price'].std(),sample['Discounted_Price'].std())

226.51988908699843 216.7554202750949